*, html, body, div, table, tr, td, tbody, thead {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: normal;
    font-size: 12px;
    overflow: visible !important;
    position: relative !important;
    /*border-collapse: collapse;*/
}


html, body, div {
    background-color: #344055;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: visible !important;
}

a {
    background-color: none !important;
}

table, tr, td, tbody, thead {
    /*border: 1px;*/
}

#header_top {
    overflow: visible !important;
    float: left !important;
    top: initial !important;
    right: initial !important;
    left: initial !important;
    bottom: initial !important;
    width: 100%;
    height: 54px;
}

#header_top center > table.header {
    width: 100% !important;
}

#header_top table.header tr {
    
}

/** planet selector container */
#header_top table.header tr td:first-child {
    width: 20% !important;
}

#header_top table.header tr td:first-child table {
    width: 100% !important;
    border-spacing: 0;
}

#header_top table.header tr td:first-child table tr {
    width: 100% !important;
}

#header_top table.header tr td:first-child table tr td:first-child {
    width: 50px !important;
}

#header_top table.header tr td:first-child table tr td:last-child {
    width: 100% !important;
}

#header_top table.header tr td:first-child table tr td:last-child select {
    width: 100% !important;
    height: 50px;
    white-space: pre-wrap;
}

#header_top table.header tr td:last-child {
    width: 80% !important;
}

#header_top table.header tr td:last-child table {
    width: 100% !important;
}

#header_top table.header tr td:last-child table tr {
    width: 100% !important;
}

#header_top table.header tr td:last-child table tr td {
    width: 20% !important;
}

#header_top table.header tr td:last-child table tr:nth-child(2) {
    display: none;
    visibility: hidden;
}

#leftmenu {
    float: left;
    clear: left;
    width: 20% !important;
    margin: 0 !important;
    padding: 0 !important;
}

#leftmenu #menu {
    width: 100% !important;
    clear: both;
}

#leftmenu #menu > p, #leftmenu #menu > a {
    display: none;
    visibility: hidden;
}

#leftmenu #menu table {
    width: 100% !important;
    border-collapse: collapse;
    border: 1px solid #415680;
    position: relative !important;
}

#leftmenu #menu table tbody {
    
}

#leftmenu #menu table tbody tr {
    
}

#leftmenu #menu table tbody tr:last-child {
    display: none;
    visibility: hidden;
}

#leftmenu #menu table tbody tr td {
    padding: 0;
}

#leftmenu #menu table tbody tr td {
    background-image: url('https://zvps.uk/ogame/gfx/info-help.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    width: 100% !important;
    height: 30px !important;
}

#leftmenu #menu table tbody tr td img {
    visibility: hidden;
}

#leftmenu #menu table tr td  a {
    width: 100%;
    height: 20px;
    padding: 8px 5px;
    display: block;
}

#content {
    position: relative !important;
    display: inline-block !important;
    float: left !important;
    top: initial !important;
    right: initial !important;
    left: initial !important;
    bottom: initial !important;
    width: 80% !important;
    margin: 0 !important;
    padding: 1px 0 0 0 !important;
}

#content center table {
    margin: 0 !important;
    width: 100% !important;
    border-collapse: collapse;
}

#content center table tr {
    border: 1px solid #ffffff !important;
}

#messagebox {
    
}